PORT=3000
MONGO_URI=mongodb+srv://username:password@cluster.mongodb.net/yanzkhenz?retryWrites=true&w=majority
SESSION_SECRET=yanzkhenz_super_secret_key_2024_change_this
API_KEY=fp_ydegb5yqu1mviogtu
API_BASE_URL=https://felixpedia.orderhostid.my.id/api
ADMIN_USERNAME=admin
ADMIN_PASSWORD=yanz123
NODE_ENV=production
